*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
facelibrary/.externalNativeBuild
facelibrary/build
/app/release/app-release.apk
/app/release/output.json
